<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>素数判定</title>
</head>
<body>
    <div>
    <h4>素数と戯れる</h4>
    </div>
    <div id="app">
    <h2>素数判定</h2>
     素数判定したい数字を入力<input type="number" v-model="checkNumber"><br>
     判定結果: {{ checkNumber}}　は<span >{{ check }}</span>
                               
     <h2>10000までの素数表</h2>
     {{primeList.count}}個の素数があります
        <ul>
            <li v-for="prime in primeList.list">{{ prime }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>