@charset "UTF-8";
table {
    border-collapse: collapse;
    table-layout: fixed;
  }
  table th, table td {
    border: solid 1px black;
    /*実線 1px 黒*/
  }

.car_name{
    width: 100px;
    height:50px;
    font-size: 3px;
}
.times_col{
    width: 48px;
}
.mini_cell{
    width : 12px;
    font-size: 2px;
}
.work_card{
    width:200px;
    background-color: brown;
}